/* VARIABLES */
:root {
    --primary-color: #223344;
    --secondary-color: #ff7733;
    --dark-color: #090d11;
    --light-color: #FEFCF3;
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'ABeeZee', sans-serif;
    letter-spacing: .08rem;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    padding: 3rem 8rem;
}

.logo-img {
    height: 6rem;
    padding-right: .75rem;
    z-index: 30;
}

.logo-text {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--primary-color);
    z-index: 30;
    transition: all .2s;
}

.logo-text:hover {
    color: var(--secondary-color);
}

/* TOGGLE */
.toggle i {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 2.5rem;
    padding: .8rem 1rem;
    cursor: pointer;
}

.toggle .fa-bars {
    z-index: 16;
}

.toggle.active .fa-xmark {
    z-index: 35;
}

.toggle i:hover {
    background-color: #ff661a;
}

/* NAVIGATION */
.nav {
    position: fixed;
    top: 0;
    left: -300%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav.active{
    left: 0;
}

.nav .nav-links li {
    border-bottom: 1.5px dashed var(--secondary-color);
}

.nav .nav-links li:first-child {
    border-top: 1.5px dashed var(--secondary-color);
}

.nav .nav-links li:hover a {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.nav .nav-links{
    width: 50%;
}

.nav .nav-links li a{
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    color: var(--dark-color);
    padding: .5rem 0;
    width: 100%;
    transition: .2s all;
}

.nav .social {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    height: 100%;
}

.nav .social > a {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.nav .social > a i {
    color: var(--secondary-color);
}

.nav .social a {
    display: inline-block;
    color: var(--dark-color);
    font-size: 3rem;
    transition: all .2s;
}

.nav .social a:hover {
    transform: scale(1.08);
    color: var(--secondary-color);
}


/* HOME */
.home-img img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

#home-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem 8rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

#home-header p {
    position: relative;
    z-index: 10;
    max-width: 60rem;
    margin: 1.5rem 0 1rem 0;
    line-height: 2rem;
}

#home-header a {
    background-color: var(--secondary-color);
    color: #FEFCF3;
    padding: 1rem 1.6rem;
    display: inline-block;
    font-size: 1.4rem;
}

#home-header a:hover {
    background-color: #ff661a;
    transform: scale(.96);
}

/* SERVICES */
#services {
    padding: 3rem 8rem;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 3rem;
    padding-top: 5rem;
}

.services .service {
    padding: 4rem 2rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 10px, rgba(17, 17, 26, 0.05) 0px 8px 20px;
    transition: all .3s;
}

.services .service:hover {
    transform: scale(1.05);
}

.service-img img {
    max-width: 9rem;
    padding-bottom: 1rem;
}

.title p {
    position: relative;
    z-index: 10;
    margin: 1.5rem 0 1rem 0;
    line-height: 2rem;
}

.service .section-text p {
    padding: 1rem;
}

.service .section-text h2 {
    color: var(--primary-color);
}

/* WORKS */
#works {
    padding: 3rem 8rem;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 5rem;
}

.portfolio .work {
    position: relative;
    width: 33rem;
    height: 33rem;
}

.portfolio .work img {
    width: 100%;
    height: 100%;
}

.portfolio .work .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 43, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .4s;
}

.portfolio .work:hover .action{
    opacity: 1;
}

.portfolio .work .action a {
    color: var(--light-color);
    font-weight: bold;
    border: 2px solid var(--light-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all .4s;
}

.portfolio .work .action a:hover {
    background-color: var(--dark-color);
}

/* CONTACT */
#contact {
    padding: 3rem 8rem;
}

.contact {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5rem;
}

.contact .contact-form {
    width: calc(100% - 40rem);
    background-color: rgba(17, 17, 26, 0.03);
    padding: 3rem;
}

.contact .contact-form form {
    width: 100%;
}

.contact .contact-form form .row{
    width: 100%;
    display: flex;
}

.contact .contact-form form .row .input-50{
    width: 50%;
    margin: .5rem;
}

.contact .contact-form form .row .input-100{
    width: 100%;
    margin: .5rem;
}

.contact .contact-form input, .contact .contact-form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
    opacity: .9;
    background: transparent;
}

.contact .contact-form textarea {
    height: 15rem;
}

.contact .contact-form input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
    font-weight: bold;
    transition: all .3s;
}

.contact .contact-form input[type="submit"]:hover {
    opacity: .85;
    transform: scale(1.01);
}

.contact .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    width: 37.5rem;
    height: 37.5rem;
    padding: 3rem;
    background-color: rgba(17, 17, 26, 0.03);
}

.contact .contact-info .info-box {
    display: flex;
    gap: 2rem;
}

.contact .contact-info .info-box .details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.contact .contact-info .info-box .details p, .contact .contact-info .info-box .details a{
    text-decoration: underline;
    color: var(--dark-color);
}

.contact .contact-info .info-box .details h4{
    color: var(--dark-color);
}

.contact .contact-info .info-box img {
    width: 4rem;
    height: 4rem;
}

/* RESPONSIVE */
@media(max-width: 1100px) {
    /* HOME */
    .home-img {
        display: none;
    }
    .logo {
        padding: 1rem 4rem 1rem 3rem;
    }
    .logo-img {
        height: 5rem;
    }
    .logo-text {
        font-size: 2rem;
    }
    #home-header {
        padding: 3rem;
    }
    .nav .nav-links li a{
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    /* SERVICES */
    #services{
        padding: 3rem;
    }
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    /* SERVICES */
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
    #services{
        padding: 3rem;
    }
}